<h1>Repositories#show</h1>

<%= @repository.name %> </br>
<%= @repository.full_name %> </br>
<%= @repository.private %> </br>
<%= @repository.html_url %> </br>
<%= @repository.description %> </br>
<%= @repository.fork %> </br>
<%= @repository.open_issues %> </br>
<%= @repository.watchers %> </br>
<%= @repository.score %> </br>
<%= @repository.language %>